@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
body {
    background-image: url("./img/brick-wall.jpg");
    
}
/* screen 1 - Main screen */
.screen1 {

    display: flex;
    margin: -5px;
    /* margin: 10px 300px 0px 380px; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.friends-logo {
    display: flex;
    margin-top: -45px;
}
.intro {

    margin: -50px;
    background-color: rgba(151, 128, 161, 0.3);
    width: 45vw;
    padding: 10px;
    font-weight:bold;
}
p {

   text-align: center;
   font-family: 'Roboto Mono', monospace;
   font-size: 20px;
   margin: 10px 30px 70px 10px;

}
.img-door {

    display: flex;
    justify-content: center;
    width: 100px;
    height: 300px;

}

/* screen 2 - actual game screen */
.screen2 {
    display: none;
    width: 30cm;
    height: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 135px 50px 135px;

}
.flex-row1 {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
h3 {
    font-family: 'Caveat Brush', cursive;
    font-size: 100px;
    margin: 30px;
    color: rgb(255, 208, 11)
}
.timer {
    font-family: 'Caveat Brush', cursive;
    font-size: 150px;
    color: rgb(255, 208, 11);
    display: flex;
    margin-left: 4cm;
}
.start {

    display: flex;
    height: 50px;
    width: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: large;
    padding: 10px 0px 10px 25px;
    background-color: rgb(255, 208, 11);
    color: rgb(131, 109, 175);
    margin-left: 4cm;

}
#grid {
    height: 60vh;
    width: 50cm;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
audio {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* screen 3 - when times is up and the player lost */
.screen3 {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin: 10px 40px 10px 400px;
}
.lose {
    display: flex;
    margin: 10px 40px 10px 100px;
}
/* screen 4 - when time is up and player won */
.screen4 {

    display:none;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin: 10px 40px 10px 400px;
}

.win {

    margin: 100px 100px 400px 10px;
}


