@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

#grid {
    width: 30cm;
    height: 350px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 200px 135px 50px 135px;
}
.screen2 {
    display: none;
    width: 30cm;
    height: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 200px 135px 50px 135px;

}
.screen1 {
    display: flex;

    /* margin: 10px 300px 0px 380px; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.img-door {
    position: relative;
    width:50%;
}
.img-door .start-btn-s1 {
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(131, 109, 175);
    color: rgb(182, 151, 87);
    padding: 12px 24px;
    border-radius: 100px;
    border: 2px solid rgb(182, 151, 87);
    cursor: pointer;

}
p {
   text-align: center;
   font-family: 'Roboto Mono', monospace;
   font-size: x-large;
   margin: 10px 30px 70px 10px;

}
